.bgimg {
  background-image: url("Images/NavbarBg.jpg");
  margin-top: 0;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.bgimg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.h1font {
  font-family: "Inter", sans-serif;
}
.h2font {
  font-family: "Instrument Sans", sans-serif;
}

.fullscreen-bg {
  background-image: url("Images/homeMiddle.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  width: 100vw;
  height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
}

.fullscreen-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.fullscreen-bg > * {
  position: relative;
  z-index: 2;
  text-align: center;
}

.shop-bg {
  background-image: url("Images/ShopHeader.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  width: 100vw;
  height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
}

.shop-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.shop-bg > * {
  position: relative;
  z-index: 2;
  text-align: center;
}